# Environment variables (API keys)
.env
.myenv
*.env

# Virtual environment
myvenv/
venv/
env/
ENV/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc

# Jupyter Notebook
.ipynb_checkpoints/

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# IDE
.vscode/
.idea/
*.swp

# Distribution
build/
dist/
*.egg-info/